.clear{
    clear: both;
}
.displaynone{
    display: none;
}
.no-padding ul{
    padding-top: 0px;
    padding-bottom: 0px;
}
.no-margin ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
.myright{
    text-align: right;
    padding-right: 20px;
}
.hht-tree{
    padding-left: 20px;
}
.priv_content{
    overflow-y:auto;
    max-height: 500px;
}
.priv_content ul{
    display: block;
    padding: 0px;
}
.priv_content li{
    list-style: none;
    display: block;
    max-width: 200px;
    float: left;
    padding-left: 10px;
    height: 30px;
}